# ==========================
# Node / Nuxt
# ==========================
node_modules/
.nuxt/
dist/
.output/
.cache/
.nitro/
*.log
*.tmp
*.swp

# ==========================
# Environment files
# ==========================
.env
.env.*
!.env.example   # テンプレートだけコミット可

# ==========================
# Editor / OS
# ==========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace

# ==========================
# AWS CDK
# ==========================
cdk.out/
*.cdk.context.json

# ==========================
# Build artifacts
# ==========================
coverage/
build/
out/
tmp/

# AWS credentials
*.pem
*.key
.aws/